<a href="https://colab.research.google.com/github/Azeyayahiya/ictinternship/blob/day1/Pythonprgrm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
side = int(input("Please Enter any Side of a Square  : "))

print("Square Star Pattern") 

for i in range(side):
    for i in range(side):
        print('*', end = '  ')
    print()

Please Enter any Side of a Square  : 4
Square Star Pattern
*  *  *  *
*  *  *  *
*  *  *  *
*  *  *  *

In [ ]:
side = int(input("Please Enter any Side of a Square  : "))
i = 0
print("Square Star Pattern") 

while(i < side):
    j = 0
    while(j < side):      
        j = j + 1
        print('*', end = '  ')
    i = i + 1
    print('')

Please Enter any Side of a Square  : 2
Square Star Pattern
*  *
*  *

In [ ]:
array=['devu','amrutha','azeya']
for i in range(len(array)-1,-1,-1):
  print (array[i])

azeya
amrutha
devu

In [ ]:
print(233)

233

In [ ]:
print("welcome to",end='')

welcome to

In [ ]:
print("thr world of python",end='!')

thr world of python!

In [ ]:
print("\"welcome to the world or python\"")

"welcome to the world or python"

In [ ]:
print("azeya"*5)

azeyaazeyaazeyaazeyaazeya

In [ ]:
s="azeya"
print(s[0])
print(s[-3])
print(s[1])
print(len(s))

a
e
z
5

In [ ]:
s="python"
s="python"

pyth

In [ ]:
animals=["cat","dog","mouse"]
for animals in animals:
print("hi" +animals)

IndentationError: ignored

In [ ]:
a = 1
while a < 10:
  print (a)
  a += 2

1
3
5
7
9

In [ ]:
for val in "string":
  if val =="i":
    continue
  print(val)
  print("the end")

s
the end
t
the end
r
the end
n
the end
g
the end

In [ ]:
print("calculator")
print("1.addition")
print("2.subtraction")
print("3.multiplication")
print("4.quotient")
ch=int(input("Enter Choice(1-4): "))
if ch==1:
    a=int(input("Enter A:"))
    b=int(input("Enter B:"))
    c=a+b
    print("Sum = ",c)
elif ch==2:
   a=int(input("enter A:"))
   b=int(input("enter b:"))
   c=a-b
   print("subtraction= ",c)
elif ch==3:
   a=int(input("enter A:"))
   b=int(input("enter b:"))
   c=a*b
   print("multiplication= ",c)
elif ch==3:
   a=int(input("enter A:"))
   b=int(input("enter b:"))
   c=a*b
   print("division= ",c)
else:
  print("invalid coice")

calculator
1.addition
2.subtraction
3.multiplication
4.quotient
Enter Choice(1-4): 2
enter A:12
enter b:4
subtraction=  8

enter the number: 12
Not Prime

In [ ]:
num = int(input("Enter a number: "))
if num > 1:  
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           break
   else:
       print(num,"is a prime number")
       
else:
   print(num,"is not a prime number")

Enter a number: 12
12 is not a prime number

In [ ]:
year=int(input("Enter year to be checked:"))
if(year%4==0 and year%100!=0 or year%400==0):
    print("The year is a leap year!")
else:
    print("The year isn't a leap year!")

Enter year to be checked:2004
The year is a leap year!

In [ ]:
n=int(input("Enter a number: "))
sum1 = 0
while(n > 0):
    sum1=sum1+n
    n=n-1
print("The sum of first n natural numbers is",sum1)

Enter a number: 5
The sum of first n natural numbers is 15

In [ ]:
def greet():
  print('hello')

In [ ]:
greet()

hello

In [ ]:
def square(num1):
  
  print(num1*num1)

In [ ]:
square(3)

9

assignmnt1

In [ ]:


string1 = input("Enter the first string: ")
string2 = input("Enter the second string: ")
result_string = string1 + string2
print("The length of the concatenated string is:", len(result_string))

Enter the first string: haii
Enter the second string: azeya
The length of the concatenated string is: 9

In [ ]:

lst = []
num = int(input('How many numbers: '))
for n in range(num):
    numbers = int(input('Enter number '))
    lst.append(numbers)
print("Sum of elements in given list is :", sum(lst))

How many numbers: 3
Enter number 3
Enter number 6
Enter number 9
Sum of elements in given list is : 18

In [ ]:
sentence = input("Please enter a sentence: ")
print("Length of string:", len(sentence))
print("First half of string:", sentence[:len(sentence)//2])

Please enter a sentence: hello azeya
Length of string: 11
First half of string: hello

In [ ]:
my_tuple = (78, 45, 32, 19, 82, 77, 40, 39)

my_list = list(my_tuple)
my_list[2] = 100
my_tuple = tuple(my_list)
print("Updated tuple:", my_tuple)

Updated tuple: (78, 45, 100, 19, 82, 77, 40, 39)

In [ ]:
lstA = [19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
lstA.remove(32)

In [ ]:
lstA = [elem for elem in lstA if elem != 40]

In [ ]:
del lstA[5]

In [ ]:
lstA[9] = 300

In [ ]:
lstA.insert(2, 200)

In [ ]:
print("Final list:", lstA)

print("Length of the list:", len(lstA))

print("Maximum value in the list:", max(lstA))

print("Sum of all elements in the list:", sum(lstA))

Final list: [19, 10, 200, 55, 31, 32, 29, 10, 65, 300]
Length of the list: 10
Maximum value in the list: 300
Sum of all elements in the list: 751